/* If you can see a peach background, the css file is correctly linked. Feel free to change or remove this styling! */
* {
  margin: 0;
}
body {
  font-family: "Courier New", Courier, monospace;
}

.pagetitle {
  text-align: left;
}

header {
  margin: 40px 40px 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px;
}

header .pagetitle {
  display: none;
}

footer {
  margin: 40px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hamburger {
}

#hamburger div {
  width: 30px;
  height: 5px;
  background-color: black;
  border-radius: 5px;
  margin: 5px;
  margin-left: 0;
}

#logo {
  text-align: end;
}

.pagecontent {
  margin: 20px 40px 40px 40px;
}

/***** INDEX.HTML *****/

/***** WORK.HTML *****/
.workpagecontent {
  display: flex;
  flex-direction: column;
  margin: 0;
}

#workcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}
.workcontainerImage {
  display: flex;
  justify-content: center;
  width: 70%;
}
.workimage {
  width: 100%;
}
.workcontainerText {
  width: 70%;
  margin-top: 50px;
}
.workdescription {
  margin: 10px 0;
}
.price {
  margin: 10px 0;
  text-align: right;
}

@media (min-width: 768px) {
  header .pagetitle {
    display: contents;
  }
  .pagetitle {
    display: none;
  }
  .workpagecontent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #workcontainer {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  #workcontainer {
    width: 20%;
  }
}
