/* If you can see a peach background, the css file is correctly linked. Feel free to change or remove this styling! */
* {
  margin: 0;
}
body {
  font-family: "Courier New", Courier, monospace;
}

header {
  background-color: yellow;
  margin: 40px 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

footer {
  background: rosybrown;
  margin: 40px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hamburger {
}

#hamburger div {
  width: 30px;
  height: 5px;
  background-color: black;
  border-radius: 5px;
  margin: 5px;
}

#logo {
}

.pagecontent {
  margin: 40px;
  background-color: turquoise;
}

/***** INDEX.HTML *****/

#platzhalter {
  height: 40px;
  width: 40px;
  background-color: deeppink;
  border-radius: 50%;
}

/***** WORK.HTML *****/
#workcontainer {
  border: solid red 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}
.workcontainerImage {
  border: solid blue 3px;
  display: flex;
  justify-content: center;
  width: 70%;
}
.workimage {
  width: 100%;
}
.workcontainerText {
  border: solid green 3px;
  width: 70%;
  margin-top: 50px;
}
.workdescription {
  border: solid orange 1px;
  margin: 10px 0;
}
.price {
  border: solid teal 1px;
  margin: 10px 0;
  text-align: right;
}
