* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
}

header {
  margin: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

footer {
  margin: 40px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hamburger div {
  width: 30px;
  height: 5px;
  background-color: black;
  border-radius: 5px;
  margin: 5px;
  margin-left: 0;
}

#navbar {
  display: none;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

#navbar a {
  margin-right: 8%;
}

header a {
  text-decoration: none;
  color: black;
  font-size: 32px;
}
header a:hover {
  font-weight: bolder;
}

.pagelink {
  font-weight: bold;
}

#logo {
  font-size: 14px;
  text-align: end;
}

.pagecontent {
  margin: 40px;
}

.pagetitle {
  text-align: left;
  margin: 40px;
}

/***** INDEX.HTML *****/
.pagetitle-invisible {
  text-align: left;
  margin: 40px 0;
  display: none;
}

/***** WORK.HTML *****/
.workpagecontent {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.workcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 40px 0;
}

.workcontainer a {
  text-decoration: none;
  color: black;
}

.workcontainer a:hover {
  padding: 2px;
  border-radius: 10px;
}

.workcontainerImage {
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.workimage {
  width: 100%;
  border-radius: 10px;
}

.workcontainerText {
  width: 70%;
  margin-top: 50px;
}

.workdescription {
  margin: 10px 0;
}

.price {
  margin: 10px 0;
  text-align: right;
}

/***** ABOUT.HTML *****/

/***** CONTACT.HTML *****/
.icon {
  width: 40px;
  margin: 10px 10px 10px 0;
}

@media (min-width: 768px) {
  #hamburger {
    display: none;
  }

  #navbar {
    display: flex;
  }

  #logo {
    font-size: 18px;
  }

  .pagetitle {
    display: none;
  }

  .pagetitle-invisible {
    display: block;
  }

  .workpagecontent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .workcontainer {
    width: 47%;
  }
}

@media (min-width: 1024px) {
  .workcontainer {
    width: 30%;
  }
}